<!DOCTYPE  html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/style.css"/>
</head>

<body>
<h1>Wilkommen bei Leifs DVD Store 📀</h1>
<div>
    Um Zugriff zu Leifs Schätzen zu gelangen bitten wir Sie, sich zu authentifizieren
    <p/>
</div>
<form method="post">
    👤 Username:<br>
    <input type="text" name="username">
    <br>
    🔑 Passwort:<br>
    <input type="password" name="password">
    <br><br>
    <input type="submit" value="Einloggen">
</form>
{{ meldung }}

</body>

</html>